.centre {
    fill: #f05c28;
}

.centre:hover, .centre.highlight {
    fill: #ffc40a;
}


.route { 
    fill: none;
    stroke: none;
    /*stroke: steelblue;*/
    stroke-width: 1;
}
.route.highlight {
    stroke: #f05c28;
    stroke-width: 2;
}

svg .co2, svg .dist {
    display: none;
}
svg .co2.highlight, svg .dist.highlight {
    display: inline;
}


/*
    Custom style
*/
.cdc-medoc-estuaire.centre {
    fill: #ffc40a; 
}