.centre {
    fill: hsl(15, 87%, 55%);
}

.toggable:disabled+span {
    color: hsl(0, 0%, 80%);
    font-style: italic;
}

.toggable+span::before {
    font-style: normal;
    display: inline-block;
    width: 3em;
    margin-right: .25em;
    content: 'off';
    vertical-align: text-top;
    text-align: left;
    color: hsl(0, 0%, 80%);
    padding-left: .1em;
    border-radius: .2em;
    height: 1.1em;
    line-height: 1.1em;
    transition: padding 1s, color 1s;
}
 label:hover>.toggable+span::before 
,.toggable:checked+span::before 
,.toggable:disabled+span::before 
{
    content: 'on ';
    padding-left: 1.6em;
    /*padding-right: .1em;*/
    /*text-align: right;*/
    font-weight: bold;
    text-shadow: none;
    color: hsl(0, 0%, 100%);
}
.toggable:disabled+span::before {
    content: '\f023  ';
    padding-right: .45em;
    line-height: 1.2em;
    font-family: FontAwesome;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input.epci+span::before { background: linear-gradient(
        to right,
        hsl(0, 0%, 93%) 0%,
        hsl(0, 0%, 93%) 50%,
        hsl(15, 87%, 55%) 51%,
        hsl(15, 87%, 55%) 100%
    );
}
input.transfert+span::before { background: linear-gradient(
        to right,
        hsl(0, 0%, 93%) 0%,
        hsl(0, 0%, 93%) 50%,
        hsl(45, 100%, 52%) 51%,
        hsl(45, 100%, 52%) 100%
    )
;
}
input.traitement+span::before { background: linear-gradient(
        to right,
        hsl(0, 0%, 93%) 0%,
        hsl(0, 0%, 93%) 50%,
        hsl(85, 53%, 50%) 51%,
        hsl(85, 53%, 50%) 100%
    );
}

 .centre.from-epci:hover
,.centre.from-epci.highlight 
,.centre.to-epci:hover
,.centre.to-epci.highlight 
{ 
    fill: hsl(15, 87%, 55%); 
}
 .centre.from-transfert:hover
,.centre.from-transfert.highlight 
,.centre.to-transfert:hover
,.centre.to-transfert.highlight 
{ 
    fill: hsl(45, 100%, 52%); 
}
 .centre.from-traitement:hover
,.centre.from-traitement.highlight 
,.centre.to-traitement:hover
,.centre.to-traitement.highlight 
{ 
    fill: hsl(85, 53%, 50%); 
}


.route, marker#arw, .centre > .label {
    opacity:0;
    transition: opacity .5s;
}
.centre > circle {}
.centre > label { 
    fill: hsl(0, 0%, 100%);
}
.centre:hover > .label { 
    fill: hsl(0, 0%, 0%);
    opacity:1;
}
.route { 
    fill: transparent;
    stroke: transparent;
    stroke-width: 2;
    transition: fill .5s, stroke .5s;
}
.route.show, marker#arw {
    fill: hsl(15.6, 87%, 90%);
    stroke: hsl(15.6, 87%, 55%);
    opacity:1;
}

svg .co2, svg .dist {
    display: none;
}
svg .co2.show, svg .dist.show {
    display: inline;
}

svg .co2.show {
    fill: hsl(0, 0%, 60%);
    text-shadow: 0px 3px 3px hsl(0, 0%, 90%), 3px 0px 3px hsl(0, 0%, 90%), 
                -3px 0px 3px hsl(0, 0%, 90%), 0px -3px 3px hsl(0, 0%, 90%),
                -3px 0px 3px hsl(0, 0%, 90%), 0px -3px 3px hsl(0, 0%, 90%);
}

/*
    Custom style
*/
.cdc-medoc-estuaire.centre {
    fill: hsl(45, 100%, 52%); 
}