path.entity {
  fill-opacity: .5;
  fill: hsl(296, 0%, 100%);
  stroke: hsl(0, 0%, 80%);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: 10, 5, 1, 5;
  stroke-dashoffset: 0
  transition: fill .5s, opacity .5s;
}
path.active {
  fill: hsl(85, 70%, 70%);
  fill-opacity: .5;
}

path.cdc-du-creonnais {
}

.entity-label {
    display: none;
    font-weight: bold;
    fill: hsl(0, 0%, 20%);
    point-event: none;
}

text.entity-label.show {
    display: inline-block;
}