path.entity {
  fill: hsl(296, 0%, 44%);
  fill-opacity: .2;
  stroke: hsl(0, 0%, 100%);
  stroke-width: 1px;
  transition: fill .5s, opacity .5s;
}
path.active {
  fill: hsl(295.5, 18%, 44%);
  fill-opacity: .7;
}

path.cdc-du-creonnais {
}

.entity-label {
    display: none;
    font-weight: bold;
    fill: hsl(0, 0%, 20%);
    /*text-anchor: middle;*/
}

text.entity-label.show {
    display: inline-block;
}

/*
    Custom style
*/
.cdc-medoc-estuaire.entity {
  fill: hsl(295, 18%, 44%);
  fill-opacity: .7;
}
.cdc-medoc-estuaire.entity-label { 
  display: block;
  fill: hsl(0, 0%, 33%);
}