.centre {
  fill: #f05a28; }
  .centre.from-epci:hover, .centre.from-epci.highlight {
    fill: #f05a28; }
  .centre.to-epci:hover, .centre.to-epci.highlight {
    fill: #f05a28; }
  .centre.from-transfert:hover, .centre.from-transfert.highlight {
    fill: #ffc20a; }
  .centre.to-transfert:hover, .centre.to-transfert.highlight {
    fill: #ffc20a; }
  .centre.from-traitement:hover, .centre.from-traitement.highlight {
    fill: #8bc33c; }
  .centre.to-traitement:hover, .centre.to-traitement.highlight {
    fill: #8bc33c; }

.route, #arw-mid, #arw-end {
  opacity: 0;
  overflow: visible;
  transition: opacity 0.5s; }

.centre > .label {
  opacity: 0;
  overflow: visible;
  transition: opacity 0.5s; }
.centre > label {
  fill: white; }
.centre:hover > .label {
  fill: black;
  opacity: 1; }

.route {
  fill: transparent;
  stroke: transparent;
  stroke-width: 2;
  transition: fill 0.5s, stroke 0.5s; }
  .route.arc.show {
    /*stroke-width: 3px;*/
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dashoffset: 0; }
  .route.show {
    fill: none;
    stroke: #00b3db;
    stroke-width: 2;
    opacity: 1; }

#arw-mid, #arw-end {
  fill: none;
  stroke: #00b3db;
  stroke-width: 2;
  opacity: 1; }

.route.show {
  stroke: #ffc40a; }

#arw-mid, #arw-end {
  stroke: #f05e28;
  stroke: #8bc33c; }

#arw-mid {
  fill: none;
  stroke: #f59170; }

#arw-end {
  fill: none;
  stroke: #f59170;
  stroke: #ee4811; }

svg .emission, svg .qte, svg .dist {
  display: none; }
svg .emission.show, svg .qte.show, svg .dist.show {
  display: inline; }
svg .emission.show {
  fill: #999999;
  text-shadow: 0px 3px 3px #e6e6e6, 3px 0px 3px #e6e6e6, -3px 0px 3px #e6e6e6, 0px -3px 3px #e6e6e6, -3px 0px 3px #e6e6e6, 0px -3px 3px #e6e6e6; }

.controls {
  max-width: 15%;
  min-width: 16em;
  color: #777; }
  .controls .checkboxes {
    padding-top: 8px;
    text-shadow: 1px 1px 1px #fff; }
  .controls label {
    display: block;
    height: 1.75em;
    line-height: 1.75em; }
    .controls label > input {
      margin-left: 1em;
      position: absolute;
      left: -999em; }
      .controls label > input:not(.toggable) {
        vertical-align: middle; }
        .controls label > input:not(.toggable):checked + .fa {
          color: #777; }
        .controls label > input:not(.toggable) + .fa, .controls label > input:not(.toggable) + .fa-stack > .fa {
          color: #ccc;
          transition: color 1s; }
    .controls label > span::before {
      vertical-align: middle; }
    .controls label:hover > input:not(.toggable) + .fa, .controls label:hover > input:not(.toggable) + .fa-stack > .fa {
      color: #777; }
    .controls label:hover > .toggable {
      font-style: normal; }
      .controls label:hover > .toggable + span::before {
        content: 'on ';
        font-weight: bold;
        line-height: 1.2em;
        padding-left: 1.6em;
        text-shadow: none;
        color: #fff; }
      .controls label:hover > .toggable:disabled + span::before {
        font-family: inherit;
        line-height: 1.2em; }
      .controls label:hover > .toggable + .fa, .controls label:hover > .toggable + .fa-stack {
        padding-left: 1.6em;
        color: #555; }
  .controls .route + .fa, .controls .emission + .fa-stack, .controls .qte + .fa, .controls .dist + .fa {
    width: 3em;
    text-align: center; }
  .controls .toggable:disabled + span {
    color: #cccccc;
    font-style: italic; }
  .controls .toggable + span::before {
    width: 3em;
    text-align: center; }
  .controls .toggable + span::before, .controls .toggable + .fa, .controls .toggable .fa-stack {
    font-style: normal;
    display: inline-block;
    height: 1.4em;
    line-height: 1.25em;
    margin-right: 0.25em;
    content: 'off';
    vertical-align: text-top;
    text-align: left;
    color: #ababab;
    padding-left: 0.1em;
    transition: padding 1s, color 1s;
    /*box-shadow: 0 0 2px hsl(0, 0%, 60%);*/
    border: 1px solid #ccc;
    border-bottom: 3px solid #ddd;
    border-radius: 0.15em; }
  .controls .toggable .fa, .controls .toggable .fa-stack {
    text-align: left;
    vertical-align: middle; }
  .controls .toggable:checked + .fa, .controls .toggable:checked + .fa-stack {
    padding-left: 1.6em;
    color: #555; }
  .controls .toggable:checked + span::before {
    content: 'on ';
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
    padding-left: 1.6em;
    text-shadow: none;
    color: #555; }
  .controls .toggable:disabled + span::before {
    content: 'on ';
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
    padding-left: 1.6em;
    text-shadow: none;
    color: #555;
    content: '\f023  ';
    /*lock*/
    padding-right: 0.45em;
    padding-left: 1.8em;
    line-height: 1.4em;
    font-family: FontAwesome;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .controls .epci + span::before {
    background: linear-gradient(to right, #ddd 0%, #ddd 50%, #ccc 50%, #ccc 51%, #f05a28 51%, #f05a28 100%); }
  .controls .transfert + span::before {
    background: linear-gradient(to right, #ddd 0%, #ddd 50%, #ccc 50%, #ccc 51%, #ffc20a 51%, #ffc20a 100%); }
  .controls .traitement + span::before {
    background: linear-gradient(to right, #ddd 0%, #ddd 50%, #ccc 50%, #ccc 51%, #8bc33c 51%, #8bc33c 100%); }
  .controls .toggable + .fa, .controls .toggable + .fa-stack {
    background: linear-gradient(to right, #ddd 0%, #ddd 50%, #ccc 50%, #ccc 51%, #fff 52%, #fff 100%); }
  .controls .counter {
    margin-top: 1em;
    border-top: 1px solid #ccc; }
    .controls .counter table {
      margin-top: 0.5em;
      border-spacing: 0.25em;
      border-collapse: separate;
      text-align: center;
      width: 100%; }
    .controls .counter th {
      font-size: 0.8em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 1em 0; }
    .controls .counter td {
      border-radius: 0.25em;
      background-clip: padding-box;
      background-color: #347BFF;
      border-bottom: 3px solid #00369a;
      width: 33%;
      padding: 0.25em 0;
      color: #fff; }
    .controls .counter .value {
      font-size: 1.25em; }
    .controls .counter .unit {
      font-size: 0.8em; }

path.entity {
  fill-opacity: 0.5;
  fill: white;
  stroke: #cccccc;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: 10, 5, 1, 5;
  stroke-dashoffset: 0;
  transition: fill 0.5s, opacity 0.5s; }
path.active {
  fill: #bbe87d;
  fill-opacity: 0.5; }

.entity-label {
  display: none;
  font-weight: bold;
  fill: #555;
  point-event: none; }

text.entity-label.show {
  display: inline-block; }

.node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges; }
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 white;
  font-size: 0.8em; }

.link {
  fill: none;
  stroke: black;
  stroke: #adadad;
  /*stroke: hsl(45, 100%, 52%);*/
  stroke-opacity: 0.2; }
  .link:hover {
    stroke-opacity: 0.5; }

.fa-stack-50pc {
  position: absolute;
  left: 25%;
  top: 15%;
  width: 100%;
  text-align: center;
  font-size: 0.25em; }
  .fa-stack-50pc.fa-cloud {
    text-shadow: 1px 1px 0 white; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.map-app {
  min-width: 50%; }
  .map-app .map {
    min-width: 100%;
    min-height: 600px; }

.flow-app {
  max-width: 40%; }

.flex-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: stretch;
  -webkit-align-items: flex-start; }

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  .flex-container {
    -webkit-flex-direction: column;
    flex-direction: column; }
    .flex-container .controls, .flex-container .map-app, .flex-container .flow-app {
      width: 96%;
      margin: 2%; }
    .flex-container td > * {
      display: block; } }

/* .controls
,.map-app
,.flow-app {

}*/
.controls, .map-app, .flow-app {
  /*use flex properties ?*/
  margin: auto 1em;
  margin-top: 1em; }

.map-app {
  margin-left: 0;
  margin-right: 0; }

.controls {
  -webkit-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -webkit-order: 0;
  -webkit-flex: 0 1 auto;
  -webkit-align-self: flex-start; }

.map-app, .flow-app {
  -webkit-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  align-self: auto;
  -webkit-order: 0;
  -webkit-flex: 1 1 auto;
  -webkit-align-self: auto; }

/*
	Legacy Firefox implementation treats all flex containers
	as inline-block elements.
*/
@-moz-document url-prefix() {
  .flex-container {
    width: 100%;
    -moz-box-sizing: border-box; } }

/*.map-app { display: none;}*/