.fa-stack-50pc {
	position: absolute;
	left: 25%;
	top: 15%;
	width: 100%;
	text-align: center;
	font-size: .25em;
}

.fa-cloud.fa-stack-50pc {
	text-shadow: 1px 1px 0px hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body,
html {
	font-family: Arial, sans-serif;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.map-app {
	min-width: 40%;
}
.map-app .map {
	min-width: 100%;
	min-height: 600px;
}
.flow-app {
	width: auto;
	max-width: 40%;
}


.compteurs {
	margin-top: 1em;
    border-spacing: .5em;
    border-collapse: separate;
	text-align: center;
}
.compteurs th {
	font-size: .8em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
	text-align: center;
}

.compteurs td {
	width: 33%;
	border-radius: .25em;
	background-clip: padding-box;
	background-color: hsl(0, 0%, 68%);
	color: hsl(0, 0%, 100%);
	font-size: 2.25em;
	padding: .25em .25em;
}









.flex-container {
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	align-items: flex-start;

	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-webkit-align-content: stretch;
	-webkit-align-items: flex-start;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
	.flex-container {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.flex-container td > * {
		display: block;
	}
}

/* .controls
,.map-app
,.flow-app {
	
}*/
.controls {
	-webkit-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: flex-start;
	align-self: flex-start;
	-webkit-order: 0;
	-webkit-flex: 0 1 auto;
	-webkit-align-self: flex-start;
}
.map-app {
	-webkit-order: 0;
	order: 0;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: auto;
	align-self: auto;
	-webkit-order: 0;
	-webkit-flex: 1 1 auto;
	-webkit-align-self: auto;
}

.flow-app {
	-webkit-order: 0;
	order: 0;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: auto;
	align-self: auto;
	-webkit-order: 0;
	-webkit-flex: 1 1 auto;
	-webkit-align-self: auto;
}

/*
	Legacy Firefox implementation treats all flex containers
	as inline-block elements.
*/

@-moz-document url-prefix() {
.flex-container {
	width: 100%;
	-moz-box-sizing: border-box;
	}

}